.Rproj.user
.Rhistory
.RData
.Ruserdata



# ignore data that are too large
data/a_raw_data/industry_navigation/industry_navigation.gpkg

data/a_raw_data/Carolinas_Database.gdb
data/a_raw_data/Carolinas_Marine_Cadastre.gdb
data/a_raw_data/VA_data_mining_20240104.gdb
data/a_raw_data/Carolinas.gdb
data/a_raw_data/Carolinas_extras.gdb

data/b_intermediate_data/carolinas.gpkg