.Rproj.user
.Rhistory
.RData
.Ruserdata



# ignore data that are too large
## industry and navigation
### raw data
data/a_raw_data/industry_navigation/AIS2022_Annual
data/a_raw_data/industry_navigation/AISVesselTracks2022
data/a_raw_data/industry_navigation/ChesapeakeBay_2016_GDB
data/a_raw_data/industry_navigation/NCarolina_2016_GDB
data/a_raw_data/industry_navigation/SCarolina_2015_GDB

data/a_raw_data/industry_navigation/ais_tracks_2022.gdb

### submodel raw data
data/a_raw_data/industry_navigation/industry_navigation.gpkg

## fisheries and aquaculture
### raw data
data/a_raw_data/fisheries_aquaculture/CommercialFishLandingSummary

### submodel raw data
data/a_raw_data/fisheries_aquaculture/fisheries_aquaculture.gpkg

## cultural resources
### raw data
data/a_raw_data/cultural_resources/ChesapeakeBay_2016_GDB
data/a_raw_data/cultural_resources/NCarolina_2016_GDB
data/a_raw_data/cultural_resources/NCHPO_GISdata/NCHPOpoints*
data/a_raw_data/cultural_resources/nps_historic
data/a_raw_data/cultural_resources/nps_nrhp_points
data/a_raw_data/cultural_resources/SCarolina_2015_GDB

data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/AtlanticCoralAndHardbottom.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/AtlanticDeepSeaCoralRichness.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/AtlanticMarineBirds.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/AtlanticMarineMammals.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/CoastalShorelineCondition.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/EquitableAccessToPotentialParks.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/GreatPlainsPerennialGrasslands.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/GulfCoralAndHardbottom.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/GulfDeepSeaCoralRichness.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/GulfMarineMammals.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/GulfSeaTurtles.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/ImperiledAquaticSpecies.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/IntactHabitatCores.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/MarineHighlyMigratoryFish.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/NaturalLandcoverInFloodplains.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/NetworkComplexity.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/ResilientTerrestrialSites.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/2_Indicators/StableCoastalWetlands.tif

data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/4_Corridors/ContinentalInlandCorridors2023.tif
data/a_raw_data/cultural_resources/Southeast_Blueprint/SEBlueprint20240202/5_Priorities/SEBlueprint2023.tif

### submodel raw data
data/a_raw_data/cultural_resources/cultural_resources.gpkg

## metocean and other
### raw data
data/a_raw_data/metocean_other/BathymetryDEM
data/a_raw_data/metocean_other/Benthic_Habitats
data/a_raw_data/metocean_other/ChesapeakeBay_2016_GDB
data/a_raw_data/metocean_other/Chlorophylla
data/a_raw_data/metocean_other/CurrentSpeedDirection

data/a_raw_data/metocean_other/NC_Middle1_slr_data_dist
data/a_raw_data/metocean_other/NC_Middle2_slr_data_dist
data/a_raw_data/metocean_other/NC_Northern_slr_data_dist
data/a_raw_data/metocean_other/NC_Southern1_slr_data_dist
data/a_raw_data/metocean_other/NC_Southern2_slr_data_dist

data/a_raw_data/metocean_other/NCarolina_2016_GDB

data/a_raw_data/metocean_other/nrel_wind

data/a_raw_data/metocean_other/SC_Central_slr_data_dist
data/a_raw_data/metocean_other/SC_North_slr_data_dist
data/a_raw_data/metocean_other/SC_South_slr_data_dist
data/a_raw_data/metocean_other/SCarolina_2015_GDB

data/a_raw_data/metocean_other/ShellBase-NC
data/a_raw_data/metocean_other/TropicalCycloneWindExposure
data/a_raw_data/metocean_other/VA_Middle_slr_data_dist
data/a_raw_data/metocean_other/VA_Southern_slr_data_dist






# miscellaneous geodatabases
data/a_raw_data/Carolinas_Database.gdb
data/a_raw_data/Carolinas_Marine_Cadastre.gdb
data/a_raw_data/VA_data_mining_20240104.gdb
data/a_raw_data/Carolinas.gdb
data/a_raw_data/Carolinas_extras.gdb

data/b_intermediate_data/carolinas.gpkg