.Rproj.user
.Rhistory
.RData
.Ruserdata



# ignore data that are too large
## industry and navigation
### raw data
data/a_raw_data/industry_navigation/AIS2022_Annual
data/a_raw_data/industry_navigation/AISVesselTracks2022
data/a_raw_data/industry_navigation/ChesapeakeBay_2016_GDB
data/a_raw_data/industry_navigation/NCarolina_2016_GDB
data/a_raw_data/industry_navigation/SCarolina_2015_GDB

### submodel raw data
data/a_raw_data/industry_navigation/industry_navigation.gpkg

## cultural resourcs
data/a_raw_data/cultural_resources/ChesapeakeBay_2016_GDB
data/a_raw_data/cultural_resources/NCarolina_2016_GDB
data/a_raw_data/cultural_resources/NCHPO_GISdata/?NCHPOpoints
data/a_raw_data/cultural_resources/nps_historic
data/a_raw_data/cultural_resources/nps_nrhp_points
data/a_raw_data/cultural_resources/SCarolina_2015_GDB

# miscellaneous geodatabases
data/a_raw_data/Carolinas_Database.gdb
data/a_raw_data/Carolinas_Marine_Cadastre.gdb
data/a_raw_data/VA_data_mining_20240104.gdb
data/a_raw_data/Carolinas.gdb
data/a_raw_data/Carolinas_extras.gdb

data/b_intermediate_data/carolinas.gpkg